<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="text" id="name" placeholder="用户名">
<input type="password" id="pwd" placeholder="密码">
<input type="button" value="点击添加" class="add_input">
<input type="button" value="SET添加" id="add_input">

<table border="1">
    <thead id="thead">
        <tr>
            <th>姓名</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody id="tbody">
        <tr>
            <td>zhangsan</td>
            <td>123456</td>
            <td><input type="button" value="删除" class="delete" onclick="der_tr(this)"/></td>
        </tr>

    </tbody>

</table>


<script type="text/javascript">
    // 删除事件
    function der_tr(obj){
        var table= obj.parentNode.parentNode.parentNode;
        var tr = obj.parentNode.parentNode;
        table.removeChild(tr);
    }
    // var del_tr = document.querySelectorAll('.delete');
    // for (var i =0; i<del_tr.length; i++){
    //     del_tr[i].addEventListener('click', function(){
    //         alert('121');
    //     })
    // }
    
    
    // 点击添加事件
    var add_input = document.querySelector('.add_input');
    add_input.addEventListener('click', function(){
        var name = document.getElementById('name');
        var pwd = document.getElementById('pwd');

        var username = name.value;
        var password = pwd.value;
        console.log(username, password)
         if (username.length>0 && password.length>0){
            // var newList = "";
            var tbody = document.getElementById("tbody");
            var tr = document.createElement("tr");

            var tdu = document.createElement('td');
            tdu.innerText = username;
            tr.append(tdu);

            var tdp = document.createElement('td');
            tdp.innerText = password;
            tr.append(tdp);
            var tdo = document.createElement('td');
            tdo.innerHTML = '<td><input type="button" value="删除" class="delete" onclick="der_tr(this)"/></td>';   // <a href="javascript:;">删除</a>;
            tr.appendChild(tdo);
            
            tbody.appendChild(tr);
            //渲染完应该复原添加的表单空格中的数据
            name.value = pwd.value ='';    
         }else{
            alert('用户名或者密码不可为空');
         }
        }
    )
        

    var id_input = document.querySelector('#add_input');
    id_input.setAttribute("onclick", "add()");
    function add(){
        alert("这是另一种添加方法")
    }

//     function addCityInfo(){
//         var name = document.getElementById('name');
//         var pwd = document.getElementById('pwd');

//         var username = name.value;
//         var password = pwd.value;
//         console.log(username, password)
//          if (username.length>0 && password.length>0){
//             // var newList = "";
//             var tbody = document.getElementById("tbody");
//             var tr = document.createElement("tr");

//             var tdu = document.createElement('td');
//             tdu.innerText = username;
//             tr.append(tdu);

//             var tdp = document.createElement('td');
//             tdp.innerText = password;
//             tr.append(tdp);

//             var tdo = document.createElement('td');
//             tdo.innerHTML = '<td><input type="button" value="删除" class="delete"/></td>';   // <a href="javascript:;">删除</a>;
//             tr.appendChild(tdo);
            
//             tbody.appendChild(tr);
//             //渲染完应该复原添加的表单空格中的数据
//             name.value = pwd.value ='';    
//          }else{
//             alert('用户名或者密码不可为空');
//          }
// }

    
</script>

</body>
</html>